@font-face {
  src: url(/Fonts/Sainte\ Colombe\ Light.otf);
  font-family: Sainte;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Sainte;
  src: url(/Fonts/Sainte\ Colombe\ Light\ Italic.otf);
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
body {
  font-family: "Sainte", sans-serif;
}
@font-face {
  font-family: Akzidenz;
  src: url(/Fonts/akzidenz-grotesk-r-extended-regular.ttf);
}
.NavContainer {
  color: white;
}
header {
  font-size: 0.625rem;
  line-height: 1.6;
  letter-spacing: 0.1em;
}
#theJournal,
#second,
#loveOfSport {
  text-align: center;
}
hr {
  height: 0;
  color: inherit;
}
#showcase {
  background: url("https://www.datocms-assets.com/24486/1638222097-tsfall21norest1079.jpg?auto=format,compress&dpr=2&crop=faces&fit=crop&h=1024&w=1536")
    top center / cover no-repeat;
  min-height: 500px;
}
.showcaseMainText {
  text-align: center;
  padding: 10px;
}
.showcaseSubText {
  text-align: center;
  padding-bottom: 20px;
}
.wrapper {
  text-align: center;
}
button {
  font-family: "Akzidenz" sans-serif;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: white;
  margin: 0;
  border-width: 0;
  letter-spacing: 0.1em;
  box-sizing: border-box;
  --tw-border-opacity: 1;
  background-color: rgb(133, 113, 81);
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.id {
  background-image: image(https://github.com/);
  text-align: center;
}
img,
svg {
  display: block;
}
#nav {
  position: absolute;
  left: 0px;
  height: 40px;
  width: 100%;
  text-align: center;
}

#second {
  padding: 60px;
}
#third,
#fourth {
  text-align: start;
}
#thirdPara,
#fourthPara {
  padding-top: 30px;
  padding-bottom: 30px;
}
#thirdImages {
  padding-bottom: 30px;
}
.footer {
  text-align: start;
}
#footerHeader {
  font-family: "Akzidenz";
}
